.AlertForm{
  position: absolute;
  top: 165px;
  left: calc(50% - 150px);
  z-index: 10;
  width: 300px;
  background: #fbfeff;
  color: #f0576c;
  animation-name: visible;
  animation-duration: 4s;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}