.Alert {
  position: fixed;
  width: 200px;
  //left: calc(50% - 100px);
  top: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  border-radius: 10px;
  transition: opacity 2s ease;
}

.hide {
  opacity: 0;
}

.hideSuccess {
  background: rgba(73, 252, 38, 0.5);
}

.hideError {
  background: rgba(245, 39, 39, 0.5);
}